@use "../variables/design.scss";

.collapse {
  &_title {
    i {
      transition: transform 0.3s ease-in-out;
      transform-origin: center;
      &.open {
        transform: rotate(-180deg);
      }
    }
  }

  &_content-container {
    overflow: hidden;
    max-height: 0;
    padding: 0 24px 0 20px;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;

    &.open {
      max-height: 300px;
      padding: 16px 24px 20px 20px;
    }
  }

  &_content-text {
    transform: translateY(-100px);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  &_content-container.open &_content-text {
    transform: translateY(0);
    opacity: 1;
  }
}
