@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

$primary-color: #ff6060;

$bg-color-1: white;
$bg-color-2: #f6f6f6;

$gray-light: #e3e3e3;

$white: white;
$black: black;

$font-family-1: "Montserrat";
